:root {
  --primary-color: #009f4d;
  --secondary-color: #213364;
  --font-color: #666;
  --bg-color: #fff;
  --heading-color: #3f3a64;
  --border-radius: 8px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f7f7f7;
  --bg-lightgrey: #f8f9fa;
  --layer: rgba(29, 42, 55, 0.7);
  --gradient-1-start: #0d8abc;
  --gradient-1-end: #61fded;
  --gradient-2-start: #d45529;
  --gradient-2-end: #eece90;
  --gradient-3-start: #f646a9;
  --gradient-3-end: #5c51ff;
  --gradient-4-start: #e77654;
  --gradient-4-end: #e5529a;
}

.dark-mode {
  --primary-color: #009f4d;
  --secondary-color: #213364;
  --font-color: #c2c2c2;
  --bg-color: #151421;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --nav-color: #fff;
  --dropdown-color: #121725;
  --iframe-filter: grayscale(100%);
  --bg-grey: #100f19;
  --bg-lightgrey: #100f19;
  --layer: rgba(29, 42, 55, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: "Jost", sans-serif;
}

body,
button,
input,
select,
textarea {
  color: #404040;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  transition: 0.5s all;
}

li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
  opacity: 0.8;
  font-family: "Jost", sans-serif;
}

blockquote {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.title-content {
  max-width: 800px;
  margin: auto;
}

.title-small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}

.title-big {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: var(--heading-color);
}

.btn-style {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: 8px;
}

.btn-primary {
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
}

.btn-primary:hover {
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}

.btn-material {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: #009f4d;
  outline: 0;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 991px) {
  .btn-material {
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
}

.btn-material i {
  font-size: 16px;
  color: #fff;
  transition: all 0.4s ease 0s;
  display: block;
  margin: 0 auto;
}

.bottom-info {
  max-width: 700px;
  margin: 0 auto;
}

.radius-image {
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

header.main-header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

header.active {
  background: rgba(0, 0, 0, 0.7);
}

button.navbar-toggler .icon-close {
  display: block;
}

button.navbar-toggler .icon-expand {
  display: none;
}

button.navbar-toggler.collapsed .icon-close {
  display: none;
}

button.navbar-toggler.collapsed .icon-expand {
  display: block;
}

/* .navbar {
  padding: 0;
  justify-content: space-between;
} */

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand-wrapper {
  flex: 0 0 auto;
}

.navbar-collapse {
  flex: 0 1 auto;
  justify-content: center;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.navbar-toggler-wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .navbar .container-fluid {
    flex-wrap: wrap;
  }

  .navbar-collapse {
    flex-basis: 100%;
    order: 3;
  }

  .navbar-toggler-wrapper {
    order: 2;
  }

  .navbar-buttons {
    margin-right: 15px;
  }

  .navbar-toggler-wrapper .navbar-buttons {
    display: none;
  }

  .navbar-collapse.show + .navbar-toggler-wrapper .navbar-buttons {
    display: flex;
  }
}

@media (min-width: 992px) {
  .navbar-toggler-wrapper .navbar-buttons {
    display: none;
  }
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  /* color: var(--heading-color); */
}

.navbar .navbar-brand span.fa {
  color: var(--primary-color);
  margin-right: 5px;
  vertical-align: bottom;
}

.navbar .navbar-brand span.logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}

.navbar .navbar-brand img {
  max-width: 140px;
  transition: all 0.5s ease;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
  opacity: 1;
}

.navbar-expand-lg .navbar-nav .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  opacity: 1;
  color: #fff;
}

a.dropdown-item {
  font-size: 15px;
  color: #3f3a64;
  background: none;
  opacity: 0.8;
  font-weight: 600;
  padding: 6px 20px;
  text-transform: uppercase;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #3f3a64;
  text-decoration: none;
  background: none;
  opacity: 1;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
  background: var(--bg-color);
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--bg-color);
  border: 1px solid var(--border-color-light);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

header.nav-fixed {
  padding: 0px;
  background-color: var(--bg-color);
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar-dark .navbar-nav .show >,
.navbar-dark .navbar-nav .nav-link.show {
  color: var(--para-color);
}

nav ul li {
  display: inline-block;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #eee;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  min-width: 12rem;
  padding: 1rem 0;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
  color: var(--heading-color);
  opacity: 0.7;
}

.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link {
  color: var(--primary-color);
  opacity: 0.9;
}

.nav-fixed .navbar-expand-lg .mode-container i {
  color: var(--primary-color);
  opacity: 0.9;
}

.nav-fixed .navbar-expand-lg .navbar-brand {
  color: var(--heading-color);
}

.nav-fixed .navbar-expand-lg .navbar-brand span.sub-log {
  border-top: 8px solid var(--primary-color);
}

.menu-item-has-children {
  position: relative;
  margin-right: 15px;
}

.menu-item-has-children::after {
  position: absolute;
  right: -7px;
  top: 51%;
  transform: translateY(-50%);
  display: inline-block;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: inherit;
  color: #fff;
}

.nav-fixed .menu-item-has-children::after {
  color: var(--heading-color);
}

.dropdown-item:hover,
.dropdown-item:focus {
  opacity: 1;
  color: #3f3a64;
  text-decoration: none;
  background-color: transparent;
}

.navbar .search-right {
  margin: 0 20px;
}

.navbar .search-right a {
  display: block;
  padding: 14px 0px;
  margin-top: 5px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  opacity: 0.8;
}

.nav-fixed .search-right a {
  color: var(--font-color);
}

.nav-fixed .search-right a:hover {
  color: #3f3a64;
}

.navbar .search-right a:hover {
  color: #fff;
  opacity: 1;
}

.nav-fixed .search-right a:hover {
  color: var(--primary-color);
}

#btn-mode {
  color: #fff;
}

.nav-fixed #btn-mode {
  color: var(--heading-color);
}

@media only screen and (max-width: 1440px) {
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 10px;
  }
  .navbar-expand-lg .nav_btn > li {
    padding: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .navbar .navbar-brand {
    font-size: 32px;
  }
  .navbar .navbar-brand img {
    max-width: 109px;
  }
  .navbar-expand-lg .btn-gradient {
    padding: 10px 20px;
    font-size: 14px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn > li {
    margin-left: 0px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn a.btn {
    padding: 10px 20px;
  }
  .navbar-expand-lg .navbar-nav.nav_btn a {
    font-size: 14px;
    padding: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }
  .mobile-position {
    position: absolute;
    right: 44px;
    top: 18px;
  }
  .navbar .navbar-brand img {
    max-width: 140px;
  }
  .navbar-toggler {
    border: 0 none;
    font-size: 24px;
  }
  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0 0px;
  }
  .navbar-nav:last-child {
    border: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 0;
  }
  .navbar-expand-lg .navbar-nav.nav_btn > li {
    padding-bottom: 10px;
  }
  .navbar-nav .dropdown-menu {
    text-align: center;
  }
  .navbar-nav .dropdown-menu .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 6px 0;
    text-align: center;
  }
  header.main-header {
    height: auto;
    padding: 20px 0;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
  }
  header.nav-fixed {
    height: auto;
    padding: 15px 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: var(--primary-color);
    border-radius: 4px;
    text-align: center;
  }
  .navbar-toggler-icon.fa {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
  }
  .navbar-toggler {
    padding: 0rem 0rem !important;
  }
  .navbar .search-right {
    margin: 0px auto;
  }
  .navbar .search-right a {
    color: #fff;
  }
  .nav-fixed .search-right a {
    color: var(--heading-color);
  }
  a.login {
    padding: 0px 0 10px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-brand img {
    max-width: 200px;
  }
  .mobile-position {
    top: 13px;
  }
  .navbar .navbar-brand {
    font-size: 26px;
  }
  .navbar .navbar-brand span.logo {
    font-size: 13px;
    padding-left: 38px;
  }
  .navbar .search-right .popup {
    padding: 40px 30px;
  }
  .navbar .search-right .popup form input[type="search"] {
    font-size: 20px;
    height: 60px;
    padding: 0 30px;
  }
  .navbar .search-right .popup form button {
    height: 60px;
  }
}

/* banner */
.banner {
  position: relative;
  overflow: hidden;
}

.banner__slider {
  width: 100%;
  height: 800px;
}

.banner-slide {
  position: relative;
  min-height: 800px;
  display: flex !important;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-slide.bg1 {
  background-image: url(../images/b1.jpg);
}
.banner-slide.bg2 {
  background-image: url(../images/b2.jpg);
}
.banner-slide.bg3 {
  background-image: url(../images/b3.jpg);
}
.banner-slide.bg4 {
  background-image: url(../images/b4.jpg);
}

.hero-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--layer);
}

.banner .container {
  position: relative;
  z-index: 1;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 15px;
}

.hero-content {
  color: #ffffff;
}

.hero-content h1 {
  font-size: 65px;
  line-height: 1.1;
  margin-bottom: 18px;
  color: #e6e8f6;
  max-width: 800px;
  font-weight: 600;
}

.hero-content p {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  color: #fff;
  letter-spacing: 0.01em;
  opacity: 0.9;
}

.hero-content .cta-btn {
  padding-top: 30px;
}

.shape {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}
.shape svg {
  width: 100%;
}

.shape path {
  fill: var(--bg-color);
}
.banner__slider {
  position: relative;
}

.banner__slider .slick-arrow {
  position: absolute;
  right: 25px;
  bottom: 50px;
  font-size: 0;
  background: var(--bg-color);
  border: 0;
  width: 50px;
  height: 50px;
  z-index: 1;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--border-color);
}

/* .banner__slider .slick-arrow:hover {
  background: #f8f8f8;
} */

.banner__slider .slick-arrow.slick-prev {
  top: 90% !important;
  right: 100px !important;
  bottom: auto !important;
  left: auto !important;
  position: absolute !important;
}

.banner__slider .slick-arrow.slick-next {
  right: 30px;
  top: 90%;
}

.banner__slider .slick-arrow.slick-prev:before {
  content: "\f060";
}

.banner__slider .slick-arrow.slick-next:before {
  content: "\f061";
}

.banner__slider .slick-arrow:before {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: FontAwesome;
  font-size: 18px;
  text-align: center;
  line-height: 46px;
  color: var(--heading-color);
}

@media (max-width: 768px) {
  .banner__slider .slick-arrow {
    width: 35px;
    height: 35px;
    bottom: 15px;
  }

  .banner__slider .slick-arrow:before {
    font-size: 12px;
    line-height: 33px;
  }

  .banner__slider .slick-arrow.slick-prev {
    right: 55px !important;
  }

  .banner__slider .slick-arrow.slick-next {
    right: 15px;
  }
}

@media (min-width: 1200px) {
  .hero-content h1 {
    font-size: 4rem;
  }
}

@media (max-width: 991px) {
  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .banner-slide {
    height: 80vh;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }

  .btn-style {
    padding: 10px 25px;
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .banner-slide {
    height: 70vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }

  .btn-style {
    padding: 8px 20px;
    font-size: 12px;
  }
}

/* about */
.about ul.service-list li {
  display: block;
  margin-bottom: 15px;
}

.about ul.service-list li a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: var(--heading-color);
  position: relative;
}

.about ul.service-list li a span.fa {
  color: #009f4d;
  margin-right: 5px;
  opacity: 0.8;
}

/* work */
.work {
  background: var(--bg-grey);
}

.work .call-grids-w3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.work .box-wrap {
  padding: 40px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  background-color: var(--bg-color);
  transition: 0.3s ease;
}

.work .box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

.work .box-wrap:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transition: 0.3s ease;
}

.work .box-wrap h4 a {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: var(--heading-color);
}

.work .box-wrap h4 a:hover {
  color: #009f4d;
}

/* services */
.service-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.blog-info {
  padding: 0 20px;
  position: relative;
}

.blog-info a.title {
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  color: var(--heading-color);
  text-align: center;
  background: var(--bg-color);
  padding: 12px 35px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 8px;
  transform: translateY(-25px);
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
}

.grids5-info:hover .blog-info a.title {
  color: #009f4d;
}

.blog-info p.text-para {
  margin-top: -10px;
}

.btn-style1 {
  padding: 8px 35px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  transition: 0.3s ease-in;
  color: var(--heading-color);
  border-radius: 8px;
}

.grids5-info a.btn-style1:hover {
  color: #009f4d;
}

/* gallery */
.gallery {
  background: var(--bg-lightgrey);
}

.gallery a.zoom {
  overflow: hidden;
  position: relative;
}

.gallery a.zoom img {
  transition: 0.3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.gallery a.zoom:hover .hover-content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.gallery a.zoom:hover .overlay__hover {
  visibility: visible;
  opacity: 1;
}

.gallery .overlay__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 42, 55, 0.7);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.gallery span.hover-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 46px 50px;
  color: #ffffff;
  z-index: 2;
}

.gallery span.hover-content .title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.gallery span.hover-content .content {
  font-size: 18px;
  color: #eee;
  display: block;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 8px;
}

.lb-data .lb-close {
  margin-top: 1em;
}

.lb-data .lb-details {
  margin-top: 1em;
}
.lb-data .lb-caption {
  font-size: 16px;
  line-height: 1.8em;
  color: #fff;
  font-weight: 600;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-top: 1em;
  font-size: 1em;
  color: #009f4d;
}
.company-logos {
  border-top: 1px solid var(--border-color-light);
}

.company-logos img {
  padding: 0 18px;
}

/* progress */
#progress {
  --gradient-start: #0d8abc;
  --gradient-end: #61fded;
}

.progress-info {
  margin-bottom: 30px;
  text-align: left;
  position: relative;
}

#progress h6.progress-tittle {
  font-size: 18px;
  color: var(--heading-color);
  margin-bottom: 10px;
  font-weight: 400;
}

#progress .progress {
  height: 4px;
  background-color: var(--bg-grey);
  border-radius: 0.25rem;
  overflow: hidden;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: var(--primary-color);
  transition: width 0.6s ease;
}

#progress .progress-bar-striped {
  background-image: none;
  background-size: cover;
}

#progress .info1 h6.progress-tittle {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 80%;
}

#progress .progress-bar.gradient-1 {
  color: var(--gradient-end);
  background-image: linear-gradient(-224deg, var(--gradient-start), var(--gradient-end));
}

#progress .progress-bar.gradient-2 {
  color: #eece90;
  background-color: #d45529;
  background-image: linear-gradient(-224deg, #d45529, #eece90);
}

#progress .info2 h6.progress-tittle {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 95%;
}

#progress .info3 h6.progress-tittle {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 60%;
}

#progress .info4 h6.progress-tittle {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 85%;
}

#progress .progress-bar.gradient-1::after,
#progress .progress-bar.gradient-1::before,
#progress .progress-bar.gradient-2::after,
#progress .progress-bar.gradient-2::before,
#progress .progress-bar.gradient-3::after,
#progress .progress-bar.gradient-3::before,
#progress .progress-bar.gradient-4::after,
#progress .progress-bar.gradient-4::before {
  content: "";
  position: absolute;
  right: 20%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

#progress .progress-bar.gradient-2::after,
#progress .progress-bar.gradient-2::before {
  right: 5%;
}

#progress .progress-bar.gradient-3 {
  color: #5c51ff;
  background-color: #f646a9;
  background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

#progress .progress-bar.gradient-4 {
  color: #e5529a;
  background-color: #e77654;
  background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

#progress .progress-bar.gradient-3::after,
#progress .progress-bar.gradient-3::before {
  right: 40%;
}

#progress .progress-bar.gradient-4::after,
#progress .progress-bar.gradient-4::before {
  right: 15%;
}

#progress .progress-bar.gradient-1::after,
#progress .progress-bar.gradient-2::after,
#progress .progress-bar.gradient-3::after,
#progress .progress-bar.gradient-4::after {
  height: 13px;
  width: 13px;
  border: 3px solid;
  background-color: #fff;
}

#progress .progress-bar.gradient-1::before,
#progress .progress-bar.gradient-2::before,
#progress .progress-bar.gradient-3::before,
#progress .progress-bar.gradient-4::before {
  height: 28px;
  width: 28px;
  border: 1px solid;
  opacity: 0.3;
}

/* testimonials */
.testimonials {
  background: var(--bg-lightgrey);
}

.testimonials .testimonial {
  display: block;
  padding: 40px 30px;
  position: relative;
  border: none;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.testimonials .testimonial blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}

.testimonials blockquote q {
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  opacity: 0.8;
}

.testi-des {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  text-align: left;
  grid-gap: 20px;
  align-items: center;
}

.testimonials .test-img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.testimonials .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.testimonials .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: var(--heading-color);
}
.testimonials p.indentity {
  font-style: normal;
  margin-bottom: 0;
  opacity: 0.8;
}

.owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px 8px;
  background: #aaa;
  display: block;
  transition: all 0.3s;
  position: relative;
  opacity: 0.9;
  border-radius: 8px;
}

.owl-carousel.owl-nav button.owl-next:hover,
.owl-carousel.owl-nav button.owl-prev:hover,
.owl-carousel button.owl-dot:hover {
  transform: scale(1.5);
  background: #213364;
  opacity: 1;
}

.owl-carousel.owl-nav button.owl-next:active,
.owl-carousel.owl-nav button.owl-prev:active,
.owl-carousel button.owl-dot.active {
  transform: scale(1.5);
  background: #213364;
  opacity: 1;
}

/* blog */
.blog__card {
  border: none;
  background: none;
  box-shadow: 0 20px 40px 0 rgba(50, 65, 141, 0.12);
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
}

.blog__card:hover img.img-animation {
  overflow: hidden;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.blog__card .card-header {
  border: none;
  background: none;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.blog__card a:first-child {
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: block;
}

.blog__card img.img-animation {
  transition: 0.3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 100%;
  height: 240px;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.blog__card a.blog-desc {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 10px;
}

.blog__card p a {
  font-weight: 400;
  font-size: 17px;
  color: #999;
}

.blog__card a.blog-desc:hover {
  color: #00a63f;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: var(--bg-color);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer .author {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
}

.card-footer a.post-author {
  overflow: hidden;
  border-radius: 50%;
  display: block;
  width: 40px;
  height: 40px;
}

.card-footer a.post-author img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

ul.blog-meta {
  margin: 0;
  padding: 0;
  display: inline-block;
}

ul.blog-meta li {
  display: flex;
  align-items: center;
}

.card-footer span.meta-value {
  color: var(--font-color);
  font-size: 15px;
  font-weight: 600;
  opacity: 0.6;
  padding-right: 5px;
}

.blog-meta li a {
  font-size: 16px;
  color: var(--heading-color);
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
}

.blog-meta li a:hover {
  color: #00a63f;
}

.date p {
  font-size: 15px;
}

/* subscribe */
.subscribe {
  background-image: url(../images/map.png);
  background-color: #151421;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

form.subscribe__form {
  margin-top: 25px;
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr auto;
  max-width: 550px;
  margin: auto;
}

.subscribe__form .input-group-text {
  color: #999;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 0 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subscribe__form input[type="email"] {
  padding: 14px 20px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid #eee;
  outline: none;
  width: 100%;
  background: #fff;
  border-radius: 0;
  color: #999;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.15);
  border-left: none;
}

.subscribe__form button.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 25px;
  font-size: 16px;
}

.subscribe__title {
  color: #fff;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}

.subscribe__header p {
  color: #eee;
}

/* footer */
footer {
  background: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.footer .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  opacity: 1;
  display: inline-block;
}

.footer .navbar-brand span:first-child {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
  line-height: 1;
}

.footer .navbar-brand span.logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}

.footer p {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
}

.main-social a {
  margin-right: 15px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: none;
  border-radius: 50%;
  transition: 0.3s;
  color: #97a1a9;
  opacity: 0.6;
}

.main-social a:hover {
  transition: 0.3s;
  color: #fff;
  opacity: 1;
}

.footer h6 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 25px;
  font-weight: 400;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.footer a {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  opacity: 0.8;
}

.footer a:hover {
  opacity: 1;
  color: #fff;
}

.footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer ul {
  padding: 0;
}

.copyright {
  padding: 1.5em 0;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.copyright p {
  align-self: center;
  color: #7f8a94;
  font-size: 17px;
  letter-spacing: 0.5px;
  opacity: 1;
}

.copyright a {
  color: #009f4d;
}
.copyright a:hover {
  color: #fff;
}

/* back-to-top */
.backToTop {
  width: 50px;
  height: 50px;
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 35px;
  line-height: 36px;
  text-align: center;
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: white;
  transition: all 0.2s;
  visibility: hidden;
  cursor: pointer;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  /* opacity: 0.5; */
}
